# yarn/node/rollup stuff
/node_modules
/.yarn
/.rollup.cache
/.vscode

# yarn configuration stuff
#.yarnrc.yml     |
#.pnp.cjs        | - removed in transition to yarn PnP
#.pnp.loader.mjs |

# build goes to /output
/output
/output-dev

# docs are built to /docs
# comment this out to include them on the repo
#/docs
