# yarn/node/rollup stuff
/node_modules
/.yarn
/.rollup.cache

# build goes to /output
/output

# docs are built to /docs
# comment this out to include them on the repo
#/docs

# yarn configuration stuff
#.yarnrc.yml     |
#.pnp.cjs        | - removed in transition to yarn PnP
#.pnp.loader.mjs |
